.App {
  text-align: center;
}

body {
  scroll-behavior: smooth;
  text-align: center;
}

/* Nav */

.title{
  padding: 2%;
  font-size: 400%;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    color: #007bff;
}

span{
  color: green;
}
.homer{
  color: #007bff;
}

.navbut{
  margin: 1%;
}

a{
  max-width: inherit;
}

/* Auth */

.auth form {
  padding: 50px;
}

.auth form input{
  background-color: #e9ecef;
  color: #007bff;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
  transition: background-color .2s, color .2s;
  max-width: 30%;
}
.auth form input:hover {
  background-color: whitesmoke;
  color: green
}

/* Dashboard */
.projects{
  margin: auto;
}

.project{
  margin: 3% 25%;
  padding: 1%;
  box-shadow: 0px 1px 5px gray;
  border-radius: 10PX;
}

.projectbuttons{
  margin: 1%;
}

ul{
  margin: auto;
  padding: 0%;
}

/* Home */

.homies{
  color: #007bff;
  padding: 2%;
}

.authtitle{
  color: green;
  padding-top: 2%;
}

/* Footer */
.smalls {
  font-size: 12px;
  max-width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  padding: 2%;
  border-top: 1px solid gainsboro;
}

.port{
  color: rgb(169, 169, 169);
  transition: all .75s;
  display: contents;
}
.port:hover{
  color: #007bff;
  text-decoration: none;
  font-size: 125%;
}