.App {
  text-align: center;
}

body {
  scroll-behavior: smooth;
  text-align: center;
}

/* Nav */

.title{
  padding: 2%;
  font-size: 400%;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    color: purple;
}

span{
  color: green;
}
.homer{
  color: purple;
}

.backhome{
  background-color: purple;
  border-color: purple;
}
.backhome:hover{
  background-color: #6a006a;
  border-color: #630063;
}
.backhome:focus{
  background-color: #6a006a;
  border-color: #630063;
  outline-color: #630063;
}


/* Auth */

.auth form {
  padding: 50px;
}

.auth form input{
  background-color: #e9ecef;
  color: purple;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
  transition: background-color .2s, color .2s;
  max-width: 30%;
}
.auth form input:hover {
  background-color: whitesmoke;
  color: green
}


/* Dashboard */
.projects{
  margin: auto;
}

.project{
  margin: 3%;
}

.projectbuttons{
  margin: 1%;
}

ul{
  margin: auto;
  padding: 0%;
}

/* Home */

.homies{
  color: purple;
  padding: 2%;
}

/* Footer */
.smalls {
  font-size: 12px;
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  padding: 2%;
  border-top: 1px solid gainsboro;
}

.port{
  color: rgb(169, 169, 169);
  transition: all .75s;
}
.port:hover{
  color: purple;
  text-decoration: none;
  font-size: 125%;
}