.App {
  text-align: center;
}

body {
  scroll-behavior: smooth;
  text-align: center;
}

header h1 {
  color: purple;
}

span{
  color: green;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: green;
  text-decoration: none;
}

header nav div {
  font-size: larger;
  background-color: lightgray;
  color: purple;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 10px;
}

header nav div:hover {
  background-color: whitesmoke;
  color: green
}

.smalls {
  margin: auto;
  color: #113743;
  font-size: 12px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-top: 1px solid #113743;
}

/* Auth */

.auth form {
  padding: 50px;
}

.auth form input{
  background-color: lightgrey;
  color: purple;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
  transition: background-color .2s, color .2s;
}

.auth form input:hover {
  background-color: whitesmoke;
  color: green
}

.point:hover{
  cursor: pointer;
}

.project{
  margin: 10px auto;
}